.homeWrapper {
  height: 100vh;
}
.avatar {  
  width: 400px;
  height: 350px;
  margin: 0 auto;
  border: 5px solid orchid;
  overflow: hidden;
}
h2 {
  text-align: center;
} 

.role {
  margin: 30px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 12px;
}
