.header {  
  background-color: rgb(219, 1, 212);
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;

    button {
      border-radius: 20px;
      padding: 5px 10px;
      background-color: rgb(3, 193, 6);
      border: 1px solid rgb(3, 193, 6);
      color: white;
      &:hover {
        background-color: rgb(1, 149, 4);
        border: 1px solid rgb(1, 149, 4);
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      list-style: none;
      a {        
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        padding: 5px;
        color: white;
        &:hover {
          color: blue;
        }
      }
    }
  }
}